body {
	color: #000000;
	font-family: 'Cuprum', sans-serif, 'PT Sans', sans-serif;
	font-size: 0px;
	line-height: 1.5;
	font-style: normal;
	width: 100%;
}
.main-header {
	width: auto;
	font-size: 16px;
	}
.bg-main-head {
	width: auto;
	background-color: #293449;
}
.top-head {
	width: 940px;
  	margin: 0 auto;
  	min-height: 42px;
}
.logo {
	float: left;
	background-color: #ee3643;
	color: #ffffff;
	width: 220px;
	padding: 0;
	border-bottom: solid #b52933 5px;
	font-family: 'Cuprum', sans-serif;
	font-size: 24px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	padding: 3px;
}
.search {
	float: left;
}
.bookmarks {
	float: left;
}
.basket {
	float: left;
	background-color: #ee3643;
	width: 150px;
}
.checkout {
	float: right;
	background-color: #63a63e;
	width: 150px;
}
.bg-middle {
	padding-bottom: 60px;
	background-color: #f2f6f8;
	width: auto;
}
.middle-head {
	
	width: 940px;
	margin: 0 auto;
}
.slogan {
	clear: both;
	float: left;
	width: 204px;
	padding-left: 52px;
	padding-right: 70px;
}
.adress {

	float: left;
	width: 270px;
	font-size: 21px;
}
.adress span {
	display: inline-block;
	font-size: 21px;
	border: solid white 2px;
	padding: 5px 50px 5px 70px;
}
.adress a {
	font-size: 14px;
}
.customer-form {
	float: right;
}
.main-menu {
	clear: both;
	display: block;
	width: 940px;
	border-bottom: solid #293449 5px;
	margin: 0 auto;
	background-color: #32425c;
}
.navigation li {
	font-size: 17px;
	padding: 22px 27px 5px;
	display: inline-block;
}
.slogan h1 {
	color: #ee3643;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
}
.check-menu h2 {
	color: #000000;
	font-size: 17px;
	line-height: 30px;
	font-style: bold;
}
.container {
	clear: both;
	width: auto;
	margin: 0 auto;
	font-size: 16px;
}
.important {
	width: 940px;
	margin: 0 auto;
	margin-top: 60px
}
.materials {
	float: left;
	width: 300px;
	min-height: 123px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #f6b22d;
}
.tools {
	float: left;
	width: 300px;
	min-height: 123px;
	background-color: #4aafde;
}
.technics {
	float: right;
	width: 300px;
	min-height: 123px;
	background-color: #cc79d1;
}
.slider {
	clear: both;
	float: left;
	margin-bottom: 53px;
}
.discount {
	
	float: right;
	width: 300px;
	margin-bottom: 20px;
	min-height: 123px;
	background-color: #85d179;
}
.shipping {
	float: right;
	width: 300px;
	min-height: 123px;
	background-color: #f6b22d;
}
.bestseller {
	clear: both;
	width: 940px;
	margin: 0 auto;
}
.product-head {
	width: auto;
	padding: 0px 24px 0px 30px;
	background-color: #f7f3ec;
}
.product-head h2 {

	font-family: 'Cuprum', sans-serif;
	display: inline-block;
	font-size: 30px;
	
}
.product-head a {
	float: right;
	width: 253px;
	padding: 10px 0;
	background-color: #ee3643;
	font-size: 14px;
}
.product-cards {
	clear: both;
	margin-top: 20px;	
}
.product {
	float: left;
	width: 218px;
	margin-right: 20px;
	border: solid #e5e5e5 1px;
	margin-bottom: 21px;
}
.product:nth-child(4) {
	margin-right: 0;
}
.vendors-head {
	clear: both;
	width: auto;
	background-color: #f7f3ec;
	margin-bottom: 21px;
}
.vendors-head h2 {
	display: inline-block;
	font-size: 30px;
}
.vendors-head a {
	display: inline-block;
	float: right;
	width: 253px;
	padding: 10px 0;
	margin: 25px 24px;
	background-color: #ee3643;
	font-size: 14px;
}
.vendors {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.vendors a {
	display: flex;
	width: 218px;
	min-height: 145px;
	border: solid #e5e5e5 1px; 
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 21px;
}
.service-head {
	margin-top: 65px;
	width: auto;
	background-color: #f2f6f8;
}
.service {
	position: relative;
	width: 940px;
	margin: 0 auto;
	min-height: 522px;
}
.service h2 {
	position: absolute; 
    top: 56px; 
    
}
.service p {
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	position: absolute; 
    top: 116px; 
    width: 400px;
}
.service ul {
	position: absolute; 
    top: 237px; 
    width: 400px;
}
.slider-service img {
	position: absolute; 
    bottom: 0px;
    right: 0px; 
    
}
.slider-service h2 {
	position: absolute; 
    top: 240px;
    left: 320px; 
    width: 400px;
}
.slider-service p {
	position: absolute;
    top: 292px;
    left: 320px; 
    width: 276px;
}
.about-us {
	display: flex;
	width: 940px;
	justify-content: space-between;
	min-height: 536px;
	margin: 0 auto;
}
.organization {
	width: 540px;
}
.contacts {
	display: flex;
	width: 300px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	
}
.contacts p {

	
}
	
footer {
	font-size: 16px;
	
	
}
.footer-bg {
	width: auto;
	background-color: #32425c;
	min-height: 193px;
}
.footer-nav {
	width: 940px;
	margin: 0 auto;
	background-color: #32425c;
}
.footer-logo {
	float: left;
	background-color: #ee3643;
	color: #ffffff;
	width: 220px;
	padding: 0;
	border-bottom: solid #b52933 5px;
	font-family: 'Cuprum', sans-serif;
	font-size: 30px;
	line-height: 57px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	padding: 3px;
}