body {
	color: #000000;
	font-family: 'Cuprum', sans-serif, 'PT Sans', sans-serif;
	font-size: 0px;
	line-height: 1.5;
	font-style: normal;
	min-width: 960px;
}
/*font-family: 'Cuprum', sans-serif;
font-family: 'PT Sans', sans-serif;
*/

/*.main-header {
	width: auto;
	font-size: 16px;
	}
.bg-main-head {
	width: 100%;
	background-color: #293449;
}
.top-head {
	width: 940px;
  	margin: 0 auto;
  	min-height: 42px;
}
.logo {
	float: left;
	text-align: center;
	background-color: #ee3643;
	color: #ffffff;
	width: 220px;
	padding: 9px 0;
	margin: 0;
	border-bottom: solid #b52933 5px;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
}
.logo a {
	width: 220px;
	padding: 13px 52px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
}
.logo:hover {
    background-color: #ca2c37;
    border-bottom: solid #9a212a 5px;
}
.logo:active {
	background-color: #ba2732;
	border-bottom: solid #8e1e26 5px;
}
.search {
	float: left;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 17px;
	line-height: 18px;
}
.confirm {
	float: right;
	background-color: #63a63e;
	width: 150px;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 17px;
	line-height: 18px;
}
.basket {
	float: right;
	background-color: #ee3643;
	width: 150px;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 17px;
	line-height: 18px;
}
.bookmarks {
	float: right;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 17px;
	line-height: 18px;
}
*/
.main-header {
	width: auto;
	font-size: 16px;
	}
.bg-main-head {
	width: 100%;
	background-color: #293449;
}
.top-head {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 940px;
  	margin: 0 auto;
  	min-height: 42px;
}
.logo {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #ee3643;
	color: #ffffff;
	width: 220px;
	box-shadow: #ca2c37 0px 5px 0px 0px;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	border-top: solid #e03643 1px;
	
}
.logo a {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 220px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	padding: 11px 0;
}
.logo:hover {
    background-color: #ca2c37;
    box-shadow: #9a212a 0px 5px 0px 0px;
    border-top: solid #bf2d38 1px;
	
}
.logo:active {
	background-color: #ba2732;
	box-shadow: #8e1e26 0px 5px 0px 0px;
	border-top: solid #b02834 1px;
	
}
.search {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 270px;
	
}
.search a {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 17px;
	line-height: 18px;
	text-decoration: none;
	color: #ffffff;
	width: 100%;
	min-height: 100%;
	padding-left: 50px;
	position: relative;
}
.search a:hover {

} 
.search a::before {
	content: "";
	position: absolute;
  	top: 13px;
  	left: 18px;
	width: 17px;
    height: 17px;
    background: url("../img/icon/spritesheet.png") no-repeat;
    background-position: -34px -161px;
    opacity: 0.3;
}	
.search a:hover::before {
	opacity: 1;
}
.search a:active::before {
	background-position: -61px -161px;
}

.bookmarks {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 150px;
}
.bookmarks a {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 17px;
	line-height: 18px;
	text-decoration: none;
	color: #ffffff;
	width: 100%;
	min-height: 100%;
	position: relative;
}
.bookmarks:hover {
	background-color: #212a3a;
	position: relative;
}
.bookmarks:active {
	background-color: #161d29;
}
.bookmarks a:before {
	content: "";
	position: absolute;
	background: url("../img/icon/spritesheet.png") no-repeat;
  	top: 15px;
  	left: 12px;
  	width: 14px;
    height: 16px;
    background-position: -5px -31px;
    opacity: 0.3;
}
.bookmarks a:hover::before {
	opacity: 1;
	
}
.bookmarks a:active::before {
	opacity: 0.5;
	
}
.basket, .basket-fill {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 150px;
}
.basket a, .basket-fill a {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 17px;
	line-height: 18px;
	text-decoration: none;
	color: #ffffff;
	width: 100%;
	min-height: 100%;
	position: relative;
}
.basket-fill {
	background-color: #ee3643;
}
.basket:hover {
	background-color: #212a3a;
}
.basket:active {
	background-color: #161d29;
}
.basket a::before {
	content: "";
	position: absolute;
	background: url("../img/icon/spritesheet.png") no-repeat;
  	top: 15px;
  	left: 12px;
  	width: 17px;
    height: 16px;
    background-position: -193px -5px;
    opacity: 0.3;
}
.basket a:hover::before {
	opacity: 1;
}
.basket a:active::before {
	opacity: 0.5;
}
.confirm {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	background-color: #63a63e;
	width: 150px;
}
.confirm a {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 17px;
	line-height: 18px;
	text-decoration: none;
	color: #ffffff;
	width: 100%;
	min-height: 100%;
}
.confirm:hover {
	background-color: #5fbb2d;
}
.confirm:active {
	background-color: #63a63e;
}

/*.bg-middle {
	padding-bottom: 60px;
	background-color: #f2f6f8;
	width: auto;
}
.middle-head {
	
	width: 940px;
	margin: 0 auto;
}
.slogan {
	clear: both;
	float: left;
	width: 204px;
	padding-left: 52px;
	padding-right: 70px;
}
.slogan h1 {
	color: #ee3643;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	margin: 0;
}
.adress {

	float: left;
	width: 270px;
	font-size: 21px;
}
.adress span {
	display: inline-block;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 21px;
	line-height: 21px;
	border: solid white 2px;
	padding: 5px 50px 5px 70px;
	margin: 0;
}
.adress a {
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
	margin: 0;
}
.customer-form {
	float: right;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 21px;
	line-height: 21px;
	margin: 0;
}
.customer-id {
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 21px;
	line-height: 21px;
	margin: 0;
}
.entrance, .registaration {
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 16px;
	line-height: 18px;
	margin: 0;
}
*/
.bg-middle {
	padding-bottom: 60px;
	background-color: #f2f6f8;
	width: auto;
}
.middle-head {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 940px;
	margin: 0 auto;
	padding-top: 46px;
}
.slogan {
	display: flex;
	align-items: flex-start;
	width: 300px;
	

}
.slogan h1 {
	display: flex;
	flex-direction: row;
	color: #ee3643;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	margin: 0;
	width: 204px;
}
.adress {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	width: 300px;
	font-size: 21px;
}
.adress span {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 21px;
	line-height: 21px;
	border: solid white 2px;
	width: 244px;
	min-height: 39px;
	padding-left: 20px;
	border: solid #ffffff 3px;
	color: #e9292a;
	position: relative;
}
.adress a {
	display: flex;
	flex-direction: row;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
	margin: 0;
	margin-top: 5px;
	padding-left: 10px;
	color: #32425c;
	
}
.adress span::before {
	content: "";
	position: absolute;
	background: url("../img/icon/spritesheet.png") no-repeat;
  	top: 10px;
  	left: 12px;
  	width: 19px;
    height: 19px;
    background-position: -5px -161px;
   
}
.customer-form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0;
	width: 300px;
}

.entrance, .registaration {
	display: flex;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 16px;
	line-height: 18px;
	margin: 0;
	
}
.entrance {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 121px;
	margin: 0;
	
	

}
.entrance a {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	width: 101px;
	min-height: 45px;
	text-decoration: none;
	color: #000000;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 21px;
	line-height: 21px;
	padding-left: 20px;
	position: relative;
}
.entrance a:hover {
	color: #ee3643;
}
.entrance a::before {
	content: "";
	position: absolute;
  	top: 14px;
  	left: 15px;
  	background: url("../img/icon/spritesheet.png") no-repeat;
	width: 20px;
    height: 17px;
    background-position: -109px -86px;
}
.entrance a:hover::before {
	background-position: -139px -86px;

}
.registaration {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 150px;
	
}
.registaration a {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	width: 150px;
	min-height: 45px;
	text-decoration: none;
	color: #000000;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 21px;
	line-height: 21px;
}
.registaration a:hover {
	color: #ee3643;
}
/* ---===Стили каталога===--- */
.sign-in {
	width: 300px;
	min-height: 45px;
}
/*.customer-id input[type="form"]{
	box-sizing: border-box;
    width: 100%;
    padding: 5px 10px;
    color: #666666;
    min-height: 45px;
    border: none;
    /*display: flex;
	width: 300px;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 21px;
	line-height: 21px;
	margin: 0;
}*/
.customer-id {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 21px;
	line-height: 21px;
	width: 206px;
	min-height: 45px;
	background-color: #fff;
	padding-left: 47px;
	padding-right: 47px;
	position: relative;
}
.customer-id-name {
	display: flex;
	align-items: center;
	width: 253px;
	min-height: 45px;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 21px;
	line-height: 21px;
	text-decoration: none;
	color: #000000;
}
.customer-id-name:before {
	content: "";
	position: absolute;
  	top: 13px;
  	left: 15px;
	background: url("../img/icon/spritesheet.png") no-repeat;
    width: 20px;
    height: 18px;
    background-position: -5px -221px;
  
}
.customer-id-name:hover::before {
	content: "";
	position: absolute;
  	top: 13px;
  	left: 15px;
	background: url("../img/icon/spritesheet.png") no-repeat;
    width: 20px;
    height: 18px;
    background-position: -35px -221px;
  
}
.logout::after {
	content: "";
	position: absolute;
  	top: 13px;
  	right: 10px;
	background: url("../img/icon/spritesheet.png") no-repeat;
	width: 20px;
    height: 17px;
    background-position: -109px -86px; 
}
.logout:hover::after {
	content: "";
	position: absolute;
  	top: 13px;
  	right: 10px;
	background: url("../img/icon/spritesheet.png") no-repeat;
	width: 20px;
    height: 17px;
    background-position: -139px -86px; 
}
.logout:active::after {
	content: "";
	position: absolute;
  	top: 13px;
  	right: 10px;
	background: url("../img/icon/spritesheet.png") no-repeat;
	width: 20px;
    height: 17px;
    background-position: -109px -86px; 
}
.customer-id-name:active {
	color: #000000;
	opacity: 0.3;
} 
.customer-options{
    padding-top: 9px;
    font-size: 0;

}

.customer-options a {
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 16px;
	line-height: 18px;
	position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
    margin-right: 16px;
}
.customer-options a:hover {
	color: #ee3643;
}
.customer-options a:active {
	color: #32425c;
	opacity: 0.3;
}
.customer-options-element {
	color: #32425c;
}
.customer-options .customer-options-element::before {
    opacity: 1;
    position: absolute;
    top: 7px;
    left: -16px;
    width: 5px;
    height: 5px;
    background-color: #32425c;
    border-radius: 50%;
    content: "";
}

.customer-options a:first-child::before {
    display: none;
}

/*.main-menu {
	
	display: block;
	width: 940px;
	border-bottom: solid #293449 5px;
	margin: 0 auto;
	background-color: #32425c;
	margin-top: 46px;
}
.navigation {
	margin: 0;
}
.navigation ul {
	padding: 0; 
    
}
.navigation li {
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 21px;
	line-height: 21px;
	display: inline-block;
	padding: 0;
	
}
.navigation a {
	text-decoration: none;
	color: #ffffff;
}*/

.main-menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 940px;
	border-bottom: solid #293449 5px;
	margin: 0 auto;
	background-color: #32425c;
	margin-top: 46px;
	padding-left: 0px;
	padding-right: 0px;

}
.navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	list-style-type: none;
	margin: 0;
	margin-left: 0;
	padding-left: 0;
	width: 940px;
	min-height: 55px;
}

.navigation li {
	display: flex;
	
	
	
}
.navigation a {
	display: flex;
	text-decoration: none;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	padding: 22px 33px;
	
}
.navigation a:hover {
	background-color: #293449;
}
.navigation a:active {
	color: #a8abaf;
}

.container {
	clear: both;
	width: auto;
	margin: 0 auto;
	font-size: 16px;
}
.important {
	width: 940px;
	margin: 0 auto;
	margin-top: 60px
}
.important .style {
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 24px;
	line-height: 30px;
	width: 277px;
	padding-left: 23px;
	color: #ffffff;

}
.style h3 {
	margin: 0;
	padding-top: 23px;
}
/*.style-bg {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 14px;
	
	border: 1px;
	border-radius: 3px;
	width: 135px;
	min-height: 38px;
	
	margin-top: 15px;
	

}*/

.materials a {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 14px;
	border: 1px;
	border-radius: 3px;
	width: 135px;
	min-height: 38px;
	margin-top: 15px;
	background-color: rgba(172, 124, 31, 0.33);
	
}
.materials a:hover {
	background-color: rgba(172, 124, 31, 0.66);
	
}
.materials a:active {
	background-color: rgba(172, 124, 31, 1);
	
}
.materials {
	position: relative;
}
.materials img{
	position: absolute;
	right: 0;
	top: 0;	
}
.materials::before {
	content: "";
	position: absolute;
	background: url("../img/icon/spritesheet.png") no-repeat;
  	top: 31px;
  	right: 43px;
  	width: 44px;
    height: 65px;
    background-position: -179px -86px;
    

}
.tools a {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 14px;
	border: 1px;
	border-radius: 3px;
	width: 135px;
	min-height: 38px;
	margin-top: 15px;
	background-color: rgba(52, 122, 155, 0.33);
}

.tools a:hover {
	background-color: rgba(52, 122, 155, 0.66);
}
.tools a:active {
	background-color: rgba(52, 122, 155, 1);
}
.tools {
	position: relative;
}
.tools::before {
	content: "";
	position: absolute;
	background: url("../img/icon/spritesheet.png") no-repeat;
  	top: 33px;
  	right: 28px;
  	width: 75px;
    height: 61px;
    background-position: -233px -150px;
}
.technics a {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 14px;
	border: 1px;
	border-radius: 3px;
	width: 135px;
	min-height: 38px;
	margin-top: 15px;
	background-color: rgba(142, 84, 146, 0.33);
}
.technics a:hover {
	background-color: rgba(142, 84, 146, 0.66);
}
.technics a:active {
	background-color: rgba(142, 84, 146, 1);
}
.technics {
	position: relative;
}
.technics::before {
	content: "";
	position: absolute;
	background: url("../img/icon/spritesheet.png") no-repeat;
  	top: 31px;
  	right: 31px;
  	width: 78px;
    height: 62px;
    background-position: -233px -78px;
}

.top-slider{
	

    position:relative;
    width:620px;
    height:266px;
    background:#eeeeee;
}
.top-slider input[type=radio] {
    position:absolute;
    opacity:0;
}
.top-slider-controls{
    position:absolute;
    bottom:36px;
    left:50%;
    width:200px;
    height:10px;
    margin-left:-100px;
    text-align:center;
    z-index:1000;
}
.top-slider-controls label{
    display:inline-block;
    width:5px;
    height:5px;
    margin:0 3px;
    background:white;
    border:2px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}
#top-btn-1:checked ~ .top-slider-controls label[for="top-btn-1"],
#top-btn-2:checked ~ .top-slider-controls label[for="top-btn-2"] { 
    background:#ee3643;
}
.top-slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
}
.top-slide-text{
    width:380px;
    padding:27px 26px;
    color:#283136;
}
.top-slide-title{
	font-family: 'Cuprum', sans-serif, Arial;
    font-size:36px;
    line-height: 36px;
    font-weight:bold;
    color: #ffffff;
    text-transform:uppercase;

}
.top-slide-text p {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
    line-height: 24px;
    margin: 0;
    color: #ffffff;
    margin-top: 5px;
}
.top-slide .top-btn{
    display:block;
    width:195px;
    padding:10px 0;
    margin-top:115px;
    font-family: 'Cuprum', sans-serif, Arial;
	font-size:14px;
    line-height: 18px;
    color:white;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    background:#ee3643;
    border-radius:3px;
}
.top-btn:hover {
	background-color: #ca2c37;
}
.top-btn:active {
	background-color: #ba2732;
}
.left-btn a::before {
	content: "";
	position: absolute;
	background-image:url('../img/icon/spritesheet.png');
    background-repeat:no-repeat;
    top: 114px;
    left: 26px;
    width: 22px;
    height: 40px;
    background-position: -66px -5px;
    z-index:1001;
}
.right-btn a::before {
	content: "";
	position: absolute;
	background-image:url('../img/icon/spritesheet.png');
    background-repeat:no-repeat;
    top: 114px;
    right: 26px;
    width: 22px;
    height: 40px;
    background-position: -98px -5px;
    z-index:1001;
}
.top-slide:nth-child(1){
    background-image:url('../img/workman.jpg');
    background-repeat:no-repeat;
    background-position:100%;
}

.top-slide:nth-child(2){
    background-image:url('../img/workman2.jpg');
    background-repeat:no-repeat;
    background-position:100%;
}

.top-slide{
    display:none;
}
#top-btn-1:checked ~ .top-slides .top-slide:nth-child(1) { 
    display: block;
}
#top-btn-2:checked ~ .top-slides .top-slide:nth-child(2) { 
    display: block;
}



.discount a {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 14px;
	border: 1px;
	border-radius: 3px;
	width: 135px;
	min-height: 38px;
	margin-top: 15px;
	background-color: rgba(93, 146, 84, 0.33);
}
.discount a:hover {
	background-color: rgba(93, 146, 84, 0.66);
}
.discount a:active {
	background-color: rgba(93, 146, 84,  1);
}
.discount {
	position: relative;
}
.discount::before {
	content: "";
	position: absolute;
	background: url("../img/icon/spritesheet.png") no-repeat;
  	top: 26px;
  	right: 45px;
  	width: 59px;
    height: 72px;
    background-position: -40px -66px;
}
.shipping a {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 14px;
	border: 1px;
	border-radius: 3px;
	width: 135px;
	min-height: 38px;
	margin-top: 15px;
	background-color: rgba(172, 124, 31, 0.33);
}
.shipping a:hover {
	background-color: rgba(172, 124, 31, 0.66);
}
.shipping a:active {
	background-color: rgba(172, 124, 31,  1);
}
.shipping  {
	position: relative;
}
.shipping ::before {
	content: "";
	position: absolute;
	background: url("../img/icon/spritesheet.png") no-repeat;
  	top: 32px;
  	right: 31px;
  	width: 78px;
    height: 63px;
    background-position: -229px -5px;
}
.style a {
	display: flex;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
}


.materials {
	float: left;
	min-height: 123px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #f6b22d;
	
}
.tools {
	float: left;
	
	min-height: 123px;
	background-color: #4aafde;
}
.technics {
	float: right;
	
	min-height: 123px;
	background-color: #cc79d1;
}
.top-slider {
	clear: both;
	float: left;
	margin-bottom: 53px;
}
.discount {
	
	float: right;
	
	margin-bottom: 20px;
	min-height: 123px;
	background-color: #85d179;
}
.shipping {
	float: right;
	
	min-height: 123px;
	background-color: #f6b22d;
}
.bestseller {
	clear: both;
	width: 940px;
	margin: 0 auto;
}
/*.product-head {
	width: auto;
	padding: 30px 24px 30px 30px;
	background-color: #f7f3ec;
	margin-bottom: 20px;
}
.product-head h2 {
	margin: 0;
	font-family: 'Cuprum', sans-serif, Arial;
	display: inline-block;
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
}
.product-head a {
	float: right;
	width: 253px;
	padding: 10px 0;
	background-color: #ee3643;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;


}*/

/* Карточки товаров
.product-cards {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	width: auto;
	font-family: 'PT Sans', sans-serif, Arial;
	text-align: center;

}
.product .new, .product-active .new {
	position: absolute;
  	top: -1px;
  	right: -1px;
  	width: 60px;
    height: 59px;
}
.cross-out {
	color:#999;
    text-decoration:line-through;
}
.product .price {
    position:relative;
    width:80px;
    margin:10px auto;
    margin-bottom:20px;
    padding:10px 30px;
    color:white;
    background:#ee3643;
    border-radius:3px;
}
.product .price:after{
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:22px solid white;
    border-left-color:#ee3643;
}
.product-cards h1, .product-cards .upper {
	font-size: 18px;
	line-height: 20px;
	font-style: bold;
}
.product-cards span, {
	font-size: 17px;
	line-height: 18px;
	font-style: bold;
	text-align: center;
}
.product-cards .upper {
	text-transform: uppercase;
}
.product, .product-active{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	width: 218px;
	border: solid #e5e5e5 1px;
	margin-bottom: 20px;
	position: relative;
}
.product-active {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.product-active .product-buy-btn {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 44px;
	width: 135px;
	min-height: 35px;
	background-color: #63a63e;
	border: 1px;
	border-radius: 2px;
	box-shadow: #367315 0px 3px 0px 0px;


}
.product-buy-btn a {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	width: 135px;
	min-height: 35px;
}
.product-active .product-bookmark-btn {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 8px;
	width: 129px;
	min-height: 32px;
	border: 3px solid #63a63e;
	border-radius: 2px;
}
.product-bookmark-btn a {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	width: 129px;
	min-height: 32px;

}
Карточки товаро-конец*/
/*

/*Каталог*/
.index-items{
    width:940px;
    margin:20px auto;
}
.catalog-items{
    width:700px;
    margin:20px auto;
}
.catalog-items .row, .index-items .row{
    margin-left:-20px;
}
.catalog-item{
    position:relative;
    display:inline-block;
    width:218px;
    margin-left:20px;
    margin-bottom:20px;
    border:1px solid #ccc;
    line-height:20px;
    font-weight:bold;
    text-align:center;
}
.catalog-items, .index-items{
    font-size:0;
}
.catalog-item{
    font-size:16px;
}
.catalog-item .flag{
    position:absolute;
    top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
     z-index:20;
}
.catalog-item .flag-new{
    background:url("../img/icon/new.png") no-repeat 0 0;
}
.catalog-item .actions{
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}
.actions .buy,
.actions .bookmark{
    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
    border:3px solid #63a63e;
    border-bottom-color:#367315; 
    background-color:#63a63e;
    color:white;
    font-size:14px;
    font-weight:normal;
    font-family:"Cuprum", sans-serif;
    line-height:18px;
    text-decoration:none;
    text-transform:uppercase;    
    border-radius:3px;
}
.actions .bookmark{
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}
.catalog-item .actions{
    display:none;
}
.catalog-item:hover .actions{
    display:block;
}
.actions .buy:hover {
	background-color: #5fbb2d;
	border:3px solid #5fbb2d;
	border-bottom-color:#367315;
}
.actions .buy:active {
	background-color: #518534;
	border:3px solid #518534;
}
.actions .bookmark:hover {
	border:3px solid #32425c;
}
.actions .bookmark:active {
	border:3px solid #c1c6ce;
}
.actions .buy{
	position: relative;
}
.actions .buy::before {
	content: "";
	position: absolute;
	background: url("../img/icon/spritesheet.png") no-repeat;
  	top: 8px;
  	left: 13px;
  	width: 17px;
    height: 16px;
    background-position: -193px -5px;
    opacity: 0.3;
}
.actions .buy:hover::before {
	background-position: -193px -5px;
    opacity: 1;
}
.catalog-item .image{
    width:218px;
    height:168px;
}
.catalog-item .image img{
    max-width:100%;
}
.catalog-item .title{
    min-height:40px;
    padding:0 25px;
    margin-top:10px;
    margin-bottom:15px;    
}
.catalog-item .cross-out{
    min-height:20px;
    margin-top:15px;
    margin-bottom:10px;
    color:#999;
    text-decoration:line-through;
}
.catalog-item .price{
    position:relative;
    width:80px;
    margin:10px auto;
    margin-bottom:20px;
    padding:10px 30px;
    color:white;
    background:#ee3643;
    border-radius:3px;
}
.catalog-item .price:after{
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:20px solid white;
    border-left-color:#ee3643;
}
.catalog-item:hover {
	box-shadow: 0px 10px 25px rgba(0,0,0,0.5);
}
.catalog-item:active {
	box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
}
/*
.product-cards {
	clear: both;
	margin-top: 20px;	
}
.product {
	float: left;
	width: 218px;
	margin-right: 20px;
	border: solid #e5e5e5 1px;
	margin-bottom: 21px;
}
.product:nth-child(4) {
	margin-right: 0;
}
*/
.vendors-head, .product-head {
	width: auto;
	padding: 30px 24px 30px 30px;
	background-color: #f7f3ec;
	margin: 1px 0 20px 0;
}
.vendors-head h2, .product-head h2 {
	margin: 0;
	font-family: 'Cuprum', sans-serif, Arial;
	display: inline-block;
	font-size: 30px;
}
.vendors-head a, .product-head a {
	float: right;
	width: 253px;
	padding: 10px 0;
	background-color: #ee3643;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	border: 1px;
	border-radius: 2px;
	text-decoration: none;
}
.vendors-head a:hover, .product-head a:hover {
	background-color: #ca2c37;

}
.vendors-head a:active, .product-head a:active {
	background-color: #ba2732;
	

}
.vendors {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.vendors a {
	display: flex;
	width: 218px;
	min-height: 145px;
	border: solid #e5e5e5 1px; 
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 21px;
}
.vendors a:hover {
	box-shadow: 0px 10px 25px rgba(0,0,0,0.5);
}
.vendors a:active {
	box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
	
}
.vendor-logo:active {
	opacity: 0.3;
}

/*
.service-head {
	margin-top: 65px;
	width: auto;
	background-color: #f2f6f8;

}
.service {
	position: relative;
	width: 940px;
	margin: 0 auto;
	min-height: 522px;

}
.service h2 {
	position: absolute; 
    top: 56px; 
    font-family: 'Cuprum', sans-serif, Arial;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
    
}
.service p {
	font-family: 'PT Sans', sans-serif, Arial;
	font-size: 13px;
	line-height: 24px;
	position: absolute; 
    top: 116px; 
    width: 400px;
}
.service ul {
	position: absolute; 
    top: 237px; 
    width: 400px;
    font-family: 'Cuprum', sans-serif, Arial;
	font-size: 21px;
	line-height: 30px;
	color: #32425c;

}
.slider-service img {
	position: absolute; 
    bottom: 0px;
    right: 0px; 
    
}
.slider-service h2 {
	position: absolute; 
    top: 240px;
    left: 320px; 
    width: 400px;
    font-family: 'Cuprum', sans-serif, Arial;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
}
.slider-service p {
	position: absolute;
    top: 292px;
    left: 320px; 
    width: 276px;
    font-family: 'PT Sans', sans-serif, Arial;
	font-size: 13px;
	line-height: 24px;
}*/


.service-bg {
	width: 100%;
	margin-top: 65px;
	background-color: #f2f6f8;
}
.service-head {
	display: flex;
	flex-wrap: wrap;
	width: 940px;
	min-height: 530px;
	margin: 0 auto;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}

.slider-service{
    
    width:940px;
    height:310px;
    margin:0 auto;
}
.service-title {
	width: 400px;
	position:relative;
}
.service-title h2 {
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 36px;
	line-height: 35px;
	text-transform: uppercase;
	margin: 68px 0 36px 0;
}
.service-title p {
	font-family: 'PT Sans', sans-serif, Arial;
	font-size: 13px;
	line-height: 24px;
	margin: 0 0 18px 0;
}
.slider-service input[type=radio] {
    position:absolute;
    opacity:0;
}
.slider-controls{
    position:absolute;
    top: 240px;
    left: 0;
    width:196px;
    height:10px;
    text-align:center;
    z-index:1000;
}
.slider-controls label{
    

    display: inline-block;
    cursor: pointer;
    width: 196px;
	padding: 15px 22px;
	background-color: #32425c;
	border-top: solid #405069 1px;
	border-bottom: solid #293449 1px;
	color: #ffffff;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 21px;
	line-height: 30px;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
    background:#ffffff;
    border-top: solid #ffffff 1px;
	border-bottom: solid #ffffff 1px;
	color: #32425c;
}
.slide{
    position:absolute;
    top:240px;
    left:320px;
    width: 620px;
    min-height:285px;
    overflow:hidden;
}
.slide-text{
    width:380px;
    padding: 0;
    font-family: 'PT Sans', sans-serif, Arial;
	font-size: 13px;
	line-height: 24px;
    
}
.slide-title{
    font-family: 'Cuprum', sans-serif, Arial;
	font-size: 36px;
	line-height: 35px;
	text-transform: uppercase;
    color: #32425c;
    margin-bottom: 30px;
}
.slide .btn{
    display:block;
    font-family: 'Cuprum', sans-serif, Arial;
    width:195px;
    padding:10px 0;
    margin-top:30px;
    font-size:14px;
    line-height: 18px;
    color:white;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    background:#fb565a;
    border-radius:3px;
}
.slide .btn:hover {
	background-color: #ca2c37;
}
.slide .btn:active {
	background-color: #ba2732;
}
.slide:nth-child(1){
    background-image:url('../img/shipping.png');
    background-repeat:no-repeat;
    background-position:right bottom;
}
.slide:nth-child(2){
    background-image:url('../img/guarantee.png');
    background-repeat:no-repeat;
    background-position: right bottom;
}
.slide:nth-child(3){
    background-image:url('../img/credit.png');
    background-repeat:no-repeat;
    background-position:right bottom;
}
.slide{
    display:none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) { 
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) { 
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) { 
    display: block;
}
/*--== Сервис радио ==--
.service {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-start;
	width: 400px;
	min-height: 522px;
	
}

.service-img {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-end;
	width: 480px;
}
.service h2 {
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 36px;
	line-height: 35px;
	text-transform: uppercase;
	margin: 68px 0 36px 0;
}
.service p {
	font-family: 'PT Sans', sans-serif, Arial;
	font-size: 13px;
	line-height: 24px;
	margin: 0 0 18px 0;
}

.slider-service-shipping {
	display: none;
}
.slider-service-guarantee {
	display: none;
}
.slider-service-credit {
	
	position: absolute;
	bottom: 0;
	right: 0;
	width: 620px;
	min-height: 300px;
}
.slider-service-credit-box  {
	width: 300px;
}
.slider-service-credit-box h2 {
	color: #32425c;
	margin-top: 0;
}
.slider-service-credit .credit-btn {
	display: flex;
	width: 195px;
	min-height: 38px;
	background-color: #ee3643;
	border-radius: 2px;
}
.slider-service-credit a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 195px;
	min-height: 38px;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
}

.credit-img {
	position: absolute;
	bottom: 0;
	right: 0;
}
.service input[type=radio] {
	display: none;
}

.service input[type=radio] + label {
	display: inline-block;
    cursor: pointer;
    position: relative;
    width: 196px;
	padding: 15px 22px;
	background-color: #32425c;
	border-top: solid #405069 1px;
	border-bottom: solid #293449 1px;
	color: #ffffff;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 21px;
	line-height: 30px;
}
.service input[type=radio] + label::before {
    display: inline-block;
    cursor: pointer;
    position: relative;
    width: 196px;
	padding: 15px 22px;
	background-color: #32425c;
	border-top: solid #405069 1px;
	border-bottom: solid #293449 1px;
	color: #ffffff;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 21px;
	line-height: 30px;
}
.service input[type=radio] + label::after {
    display: inline-block;
    cursor: pointer;
    position: relative;
    width: 196px;
	padding: 15px 22px;
	background-color: #ffffff;
	border-top: solid #ffffff 1px;
	border-bottom: solid #ffffff 1px;
	color: #32425c;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 21px;
	line-height: 30px;
}

.service label:hover {
	background-color: #293449;
	border-top: solid #405069 1px;
	border-bottom: solid #293449 1px;
}
.service label:active {
	background-color: #ffffff;
	border-top: solid white 1px ;
	border-bottom: solid white 1px ;
	color: #293449;
}
*/

/*--== Конец ==--*/

/*.service li {
	width: 240px;
	padding: 15px 0;
	list-style-type: none;
	background-color: #32425c;
	margin-left: -40px;
	border-top: solid #405069 1px;
	border-bottom: solid #293449 1px;
	color: #32425c;
}*/
/*.service a {
	text-decoration: none;
	color: #ffffff;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 21px;
	line-height: 30px;
	padding: 19px 144px 19px 22px;
	
}
.service li:hover {
	background-color: #293449;
	border-top: solid #405069 1px;
	border-bottom: solid #293449 1px;
}
.service a:hover {
	color: #ffffff;
}*/
.about-us {
	display: flex;
	width: 940px;
	justify-content: space-between;
	align-items: center;
	min-height: 536px;
	margin: 0 auto;
}
.organization {
	width: 540px;
}

.organization h2 {
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0;
	padding-bottom: 10px;
	

}
.organization p {
	font-family: 'PT Sans', sans-serif, Arial;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	

}
.organization ul {
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 18px;
	line-height: 20px;
	padding-left: 0;
	margin-left: 0;
}
.organization li {
	padding: 12px;
	list-style: none;
	padding-left: 40px;
	position: relative;

}
.organization li:before {
	content: "";
	position: absolute;
	background: url("../img/icon/line.png") no-repeat;
  	top: 20px;
  	left: 5px;
  	width: 25px;
    height: 2px;
 
}
.about-us a {
	float: left;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	padding: 10px 0;
	background-color: #ee3643;
	text-align: center;
	color: #ffffff;
	border: 1px;
	border-radius: 2px;
	text-decoration: none;

}
.more-button {
	width: 220px;
	
}
.mail-button {
	margin-top: 40px;
	width: 300px;
	}
.about-us a:hover {
	background-color: #ca2c37;

}
.about-us a:active {
	background-color: #ba2732;

}
.contacts {
	display: flex;
	width: 300px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	
}
.contacts h2 {
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0;
	padding-bottom: 10px;
	
}
.contacts p {
	font-family: 'PT Sans', sans-serif, Arial;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	margin-bottom: 30px; 
	width: 180px;
}
	
footer {
	font-size: 16px;
	

}
.footer-bg {
	width: 100%;
	background-color: #32425c;
	min-height: 193px;
}
/*
.footer-nav {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 940px;
	margin: 0 auto;
	
}
.footer-left {
	display: flex;
	width: 320px;
	flex-direction: column;
	justify-content: flex-start;

}
.footer-logo {
	display: flex;
	align-items: center;
	background-color: #ee3643;
	color: #ffffff;
	width: 220px;
	margin: 0;
	padding: 16px 42px;
	border-bottom: solid #b52933 5px;
	font-family: 'Cuprum', sans-serif;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}

.footer-logo p {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
.footer-right {
	display: flex;
	width: 560px;
	flex-direction: column;
}

.footer-nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}*/
.footer-nav {
	display: flex;
	width: 940px;
	margin: 0 auto;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer-left {
	display: flex;
	width: 340px;
	flex-wrap: wrap;
	flex-direction: column;
}
.footer-logo {
	display: flex;
	width: 220px;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 0;
	
	background-color: #ee3643;
	border-bottom: solid #b52933 5px;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 30px;
	line-height: 30px;
}
.footer-logo a{
	margin: 0 auto;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	padding: 16px;

}
.footer-logo:hover {
    background-color: #ca2c37;
    border-bottom: solid #9a212a 5px;
  
	
}
.footer-logo:active {
	background-color: #ba2732;
	border-bottom: solid #8e1e26 5px;

	
}
.footer-left p{
	margin: 0;
	color: #ffffff;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 18px;
	line-height: 24px;
	padding-top: 30px;

	
}
.footer-right {
	display: flex;
	width: 560px;
	flex-wrap: wrap;
	flex-direction: column;
}
.footer-right ul{
	display: flex;
	width: auto;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-end;
	margin: 0; 
    padding-left: 0; 
    padding-top: 42px;
}
.footer-right ul li {
	margin-left: 0;
	margin-left: 45px;
	list-style-type: none;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 18px;
	line-height: 24px;
}
.footer-right a {
	text-decoration: none;
	color: #ffffff;
}
.footer-right a:hover {
	text-decoration: underline;
}
.footer-right a:active {
	opacity: 0.5;
}
.footer-right-down a{
	color: #ffd180;
}
.footer-right-down a:hover {
	text-decoration: underline;
}
.footer-right-down a:active {
	opacity: 0.5;
}
.footer-social-bg {
	width: 100%;
	background-color: #293449;
}
.footer-social {
	display: flex;
	width: 940px;
	margin: 0 auto;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 16px;
	line-height: 18px;
}
.copyright {
	margin: 0; 
	width: 230px;
	color: #ffffff;

}
.copyright p {
	margin: 0;
	padding-top: 38px;
	padding-bottom: 38px;
}

.social {
	margin: 0;
	display: flex;
	width: auto;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	list-style: none;

}
.social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 2px;
  background-color: #212a3a;
  border-radius: 20px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  
  
}
.vk a{
	background: url("../img/icon/spritesheet.png") no-repeat #212a3a;
  	background-position: -55px -207px;
  	
}
.vk a:hover {
	background: url("../img/icon/spritesheet.png") no-repeat #ee3643;
  	background-position: -55px -207px;
	
}
.fb a{
 	background: url("../img/icon/fb.png") no-repeat #212a3a;
    background-position: 15px 11px;
}
.fb a:hover {
 	background: url("../img/icon/fb.png") no-repeat #ee3643;
    background-position: 15px 11px;
}

.insta a{
  	background: url("../img/icon/insta.png") no-repeat #212a3a;
	background-position: 12px 12px;
}
.insta a:hover {
  	background: url("../img/icon/insta.png") no-repeat #ee3643;
	background-position: 12px 12px;
}
.feedback {
	margin: 0;
	display: flex;
	width: auto;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}
.feedback span {
	width: 140px;
	margin-left: 50px;
	color: #ffffff;
}
.feedback a {
	color: #ffd180;
	text-decoration: none;
}
.feedback a:hover {
	text-decoration: underline;
}
.feedback a:active {
	text-decoration: none;
	color: #ee3643;
}

/*--==Сетка Каталога==--*/
.container-catalog {
	font-size: 16px;
}
.breadcrumbs {
	display: flex;
	width: 940px;
	margin: 0 auto;
	padding: 25px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	
}
.breadcrumbs ul {
	display: flex;
	margin: 0;
	padding-left: 0;
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	list-style-type: none;
	position: relative;
	

}
.breadcrumbs a {
	margin-left: 10px;
	padding-left: 25px;
	padding-right: 18px; 
	text-decoration: none;
	color: #000000;
	position: relative;
	

}
.breadcrumbs li:nth-child(1) {
	margin-left: 25px;
}
.breadcrumbs a:before {
	content: "";
	position: absolute;
	background: url("../img/icon/breadcrumbs-arrow.png") no-repeat;
  	top: 3px;
  	left: 0px;
  	width: 7px;
    height: 12px;
   
    
}
.breadcrumbs ul:before {
	content: "";
	position: absolute;
	background: url("../img/icon/home.png") no-repeat;
  	top: 3px;
  	left: 0px;
  	width: 14px;
    height: 12px;
}
.container-head {
	width: 940px;
	background-color: #f2f6f8;
	margin: 0 auto;
}
.container-head h1 {
	margin: 0;
	padding: 34px 30px;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
}
.container-middle {
	display: flex;
	width: 940px;
	margin: 0 auto;
	margin-top: 20px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.check-menu {
	display: flex;
	width: 220px;
	margin: 0;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.check-menu span {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	min-height: 38px;
	width: auto;
	margin: 0;
	padding: 0 18px;
	background-color: #f7f3ec;
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}
.check-menu h2 {
	align-items: center;
	display: flex;
	min-height: 55px;
	margin: 0;
}
.range {
	display: flex;
	flex-wrap: none;
	background-color: #f7f3ec;
	padding: 20px;
	border: 1px;
	border-radius: 2px;
}
.range input {
	display: flex;
	width: 175px;
	min-height: 80px;

}	
.min-hight {
	display: flex;

}
.min-hight span {
	justify-content: center;
	align-items: center;
	display: flex;
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 18px;
	width: 95px;
	padding: 0;
	margin: 10px 0 25px;
	min-height: 38px;
	border: 1px;
	border-radius: 2px;
}
.min-hight span:nth-child(2) {
	display: flex;
	width: 30px;
	background-color: #fff;
}
.check-menu .vendor {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 220px;
	border-top: solid #e5e5e5 1px;
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	
}
.vendor input, .item input {
	margin-right: 8px;
	display: none;
}
.vendor input[type="checkbox"] + label {
	display: block;
	cursor: pointer;
	position: relative;
	padding-left: 30px;
	margin-top: 12px;
}
.vendor input[type="checkbox"] + label::before {
	content: "";
	position: absolute;
	background: url("../img/icon/spritesheet.png") no-repeat;
  	top: 0px;
  	left: 0px;
  	width: 23px;
    height: 23px;
    background-position: -29px -31px;

}
.vendor input[type="checkbox"]:checked + label::after {
	content: "";
	position: absolute;
	background: url("../img/icon/spritesheet.png") no-repeat;
  	top: 0px;
  	left: 0px;
  	width: 27px;
    height: 23px;
    background-position: -130px -31px;

}

.item input[type="radio"] + label {
	display: block;
	cursor: pointer;
	position: relative;
	padding-left: 30px;
	margin-top: 12px;
}

.item input[type="radio"] + label::before {
	content: "";
	position: absolute;
	background: url("../img/icon/spritesheet.png") no-repeat;
  	top: 0px;
  	left: 0px;
  	width: 25px;
    height: 25px;
    background-position: -167px -31px;

}
.item input[type="radio"]:checked + label::after {
	content: "";
	position: absolute;
	background: url("../img/icon/spritesheet.png") no-repeat;
  	top: 0px;
  	left: 0px;
  	 width: 25px;
    height: 25px;
    background-position: -5px -66px;

}
.show-btn {
	display: flex;
	justify-content: center;
	margin-top: 75px;
	width: 140px;
	min-height: 38px;
	
	
}
.show-btn a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 140px;
	min-height: 38px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	border: solid #e5e5e5 1px;
	border-radius: 2px;
}
.show-btn a:hover {
	border: solid #bdc6ca 1px;
	
}
.show-btn a:active {
	border: solid #ee3643 1px;
	
}

.check-menu h2 {
	color: #000000;
	font-family: 'PT Sans', sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-style: bold;
	text-transform: uppercase;
}

.check-menu .item {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: auto;
	border-top: solid #e5e5e5 1px;
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	margin-top: 20px;
}
.show-btn a {
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}


.container-product {
	display: flex;
	width: 700px;
	margin: 0;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.filter {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: auto;
	margin: 0 0 20px 0;
	padding: 0 18px;
	font-size: 13px;
	background-color: #f7f3ec;
	min-height: 38px;
}
.filter span {
	margin: 0;
	text-transform: uppercase;
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 18px;
}
.filter .product-filter {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: space-around;
	width: 400px;
	margin: 0;
	list-style: none;
}
.product-filter a {
	display: flex;
	justify-content: center;
	align-items: space-between;
	text-transform: uppercase;
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-decoration: none;
	color: #cacaca;
	border-bottom: dotted #ee3643 1px;
	

}
.product-filter a:hover {
	color: #000000;
	border-bottom: solid #ee3643 1px;
}
.product-filter a:active {
	color: #ee3643; 
	border: none;
}
.filter .product-arrow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: space-between;
	list-style: none;
	width: auto;
	margin: 0;
	padding: 0;
	background-color: solid yellow;

}
.filter .product-arrow li {
	display: flex;
}
.filter .product-arrow a {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	text-decoration: none;
	margin-left: 21px;
	position: relative;
}
.product-arrow .up {
	content: "";
	position: absolute;
	background: url("../img/icon/spritesheet.png") no-repeat;
  	top: 0px;
  	left: 0px;
  	width: 11px;
    height: 10px;
    background-position: -172px -5px;
}
.product-arrow .up:hover {
	background-position: -130px -5px;
}
.product-arrow .up:active {
	background-position: -151px -5px;
}
.product-arrow .down {
	content: "";
	position: absolute;
	background: url("../img/icon/spritesheet.png") no-repeat;
  	top: 0px;
  	left: 0px;
  	width: 11px;
    height: 10px;
    background-position: -45px -5px;
}
.product-arrow .down:hover {
	background-position: -5px -5px;
}
.product-arrow .down:active {
	background-position: -26px -5px;
}
.page-navigation {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 32px 0 60px 0;
	width: auto;
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}
.page-navigation .page, 
.page-navigation .page-next {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	border: 1px solid #e5e5e5;
	border-radius: 2px; 
}
.page-navigation .page-active {
	background-color: #ee3643;
	border: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	border-radius: 2px; 
	color: solid white;
	
}
.page-active a {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	width: 38px;
	min-height: 38px;
}

.page-navigation:hover .page:hover, 
.page-navigation:hover .page-next:hover {
	border: 1px solid #bdc6ca;
}
.page-navigation:active .page:active, 
.page-navigation:active .page-next:active {
	border: 1px solid #ee3643;
}
.page a {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	width: 38px;
	min-height: 38px;
}
.page-navigation .page-next {
 	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	min-height: 38px;
	width: 140px;
}

.solution-bg {
	width: 100%;
	background-color: #f2f6f8;

}
.solution {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 940px;
	margin: 0 auto;
	padding: 70px 0;
}
.solution h2 {
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}
.solution p {
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 24px;
}
/*--==Write Us==--*/
.write-us {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 620px;
	min-height: 430px;
	margin: 0 auto;
	border-top: solid #ee3643 7px;
	margin-top: 50px;
	margin-bottom: 50px;
	box-shadow: 0px 20px 40px rgba(0,0,0,0.5);
}
.write-us form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-content: space-between;
	align-items: space-between;
	
}
.write-us-userdata a {
	content: "";
	position: absolute;
  	top: 9px;
  	right: 9px;
	background: url("../img/icon/close.png") no-repeat;
    width: 21px;
    height: 21px;

}

.write-us-userdata {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	
	padding: 45px 80px 0;
	width: 460px;
	position: relative;
}
.write-us-userdata label {
	display: flex;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 18px;
	line-height: 18px;
	padding-bottom: 13px;
}
.write-us-userdata input, .write-us-userdata textarea {
	display: flex;
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 18px;

}
.write-us-block {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 20px;
}
.write-us-left-column{
	box-sizing: content-box;
	
	width: 220px;
}
.write-us-left-column input, .write-us-right-column input{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 220px;
	min-height: 38px;
	padding-left: 14px;
	border: solid #d7dcde 2px;
	border-radius: 2px;
	color: #999999;
}
.write-us-right-column {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 220px;
}
#write-us-textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 18px;
	width: 460px;
	min-height: 100px;
	padding-left: 14px;
	padding-top: 10px;
	border: solid #d7dcde 2px;
	border-radius: 2px;
	color: #999999;


}

.write-us-block-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 112px;
	background-color: #f1f1f1;
	width: 100%;
}
.write-us-btn{
	display: flex;
	font-family: 'Cuprum', sans-serif, Arial;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #ffffff;
	width: 460px;
	min-height: 38px;
	background-color: #ee3643;
	border: 0;
	border-radius: 4px/2px;
}
.write-us-btn:hover {
	background-color: #ca2c37;
}
.write-us-btn:active {
	background-color: #ba2732;
}